.news_app {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.news_app__container {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 10px 16px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.55);
  padding: 7px;
  border-radius: 5px;
  cursor: pointer;
}

.news_app__container_cards {
  width: 100%;
  
}

.images {
  width: 100%;
  object-fit: cover;
}

.loader{
  position: absolute;
  top: 40%;
  left: 50%;
}